.load_more {
    width: 200px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms linear, color 300ms linear;
}

.load_more:hover,
.load_more:focus {
    background-color: #6495ED;
    color: #ffffff;
}

.load_more.is-hidden {
    display: none;
}